.rt-td {
	white-space: normal !important
}

.event-title {
  margin-bottom: 0;
}

.change-btn {
  background: none;
  border: none;
  margin: 0 10px;
}

.approve {
  color: green;
}

.delete {
  color: red;
}

.confess-form {
  text-align: left;
  margin-bottom: 20px;
}

.confess-input {
  margin: 2px 0 15px 0;
  width: 98%;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.btn-bar {
  margin-top: 10px;
  margin-bottom: 30px;
}

.red {
  color: red;
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.event-link {
	margin: 15px 0;
}
