.event-container {
  margin-bottom: 100px;
}

.rt-td {
  white-space: normal !important;
}

.event-title {
  margin-bottom: 0;
}

.change-btn {
  background: none;
  border: none;
  margin: 0 10px;
}

.approve {
  color: green;
}

.delete {
  color: red;
}

.confess-form {
  text-align: left;
  margin-bottom: 20px;
}

.confess-input {
  margin: 2px 0 15px 0;
  width: 98%;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.btn-bar {
  margin-top: 10px;
}

.red {
  color: red;
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.event-link {
  margin: 15px 0;
}

.reaction-bar {
  display: flex;
  margin-top: 10px;
}

.reaction-pop {
  padding: 5px;
}

.reaction {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #ebebeb;
  padding: 2px 7px;
  margin-right: 5px;
}

.react-pop-btn {
  border: none;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 0px 5px;
  cursor: pointer;
  background-color: transparent;
}

.react-pop-btn:hover {
  background-color: #ebebeb;
}

.react-btn {
  border: none;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 0px 5px;
  cursor: pointer;
  background-color: transparent;
}

.react-btn:hover {
  background-color: #ebebeb;
}
